@font-face {
  font-family: 'proximanova-bold';
  src: url('../fonts/proximanova-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'proximanova-regular';
  src: url('../fonts/proximanova-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  display: swap;
}

$primary-color: #3498db;
$secondary-color: #62b435;
$warning-color: #f64747;
$bg-color: #ccc;
$font-family-regular: 'proximanova-regular', sans-serif;
$font-family-bold: 'proximanova-bold', sans-serif;
$font-size-base: 16px;
$line-height-base: 24px;

$font-weight-bold: 600;

.container {
  max-width: 800px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background-color: $bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family-regular;
  font-size: $font-size-base;
  line-height: $line-height-base;

  color: #000;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  width: 100%;

  @media (width<=744px) {
    padding: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;

    &-person {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 14px;
      font-weight: $font-weight-bold;
      line-height: 16px;

      &-name {
        @media (width<=744px) {
          color: rgba(0, 0, 0, 0.8);
        }
      }

      &-stat {
        color: rgba(0, 0, 0, 0.4);
        font-weight: 400;
      }

      &-data {
        color: rgba(0, 0, 0, 0.2);
        font-weight: 400;
        margin-top: 2px;

        span {
          &:nth-child(1) {
            color: $secondary-color;
          }

          &:nth-child(3) {
            color: $warning-color;
          }

          &:nth-child(4) {
            color: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }

    &-table {
      display: flex;
      align-items: center;
      width: 368px;
      justify-content: space-between;
      font-size: 14px;
      font-weight: $font-weight-bold;
      line-height: 16px;

      @media (width<=744px) {
        justify-content: flex-end;
        width: 85px;
      }

      &-item {
        display: flex;
        flex-direction: column;
        width: 64px;
        gap: 2px;

        &-mob {
          color: rgba(0, 0, 0, 0.4);
          font-size: 14px;

          flex-direction: column;

          span {
            &:nth-child(2) {
              color: $secondary-color;
              font-weight: $font-weight-bold;
            }
          }
        }

        @media (width<=744px) {
          display: none;
        }

        &--1 {
          color: $secondary-color;
        }

        &--2 {
          color: rgba(0, 0, 0, 0.4);
        }

        &--3 {
          color: $warning-color;
        }

        &--4,
        &--5 {
          color: $secondary-color;

          span {
            &:first-child {
              font-size: 12px;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.8);
            }
          }
        }

        span {
          display: inline-block;

          &:first-child {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }

  &__body {
    &-arrow {
      position: relative;
      bottom: -23px;
      margin: 0 auto;
      cursor: pointer;
    }

    &-text {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__bottom {
    background: rgba(240, 241, 242, 0.4);
    padding: 24px 22px;
    margin: 0 -24px;

    position: relative;

    @media (width<=744px) {
      padding: 16px;
      margin: 0 -16px;
    }

    &-inner {
      display: flex;
      gap: 12px;
      justify-content: space-between;

      @media (width<=744px) {
        margin-bottom: 12px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 90px;
      background-color: $primary-color;
    }

    &-forecast {
      color: rgba(0, 0, 0, 0.4);
      font-size: 12px;
      font-family: $font-family-bold;
      text-transform: uppercase;
      line-height: 14px;
    }

    &-text {
      font-size: 18px;
      font-family: $font-family-bold;
      line-height: 20px;
      color: #000;

      @media (width<=744px) {
        font-size: 16px;
        line-height: 18px;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      gap: 16px;

      &-coefficient {
        display: flex;
        align-items: center;
        gap: 12px;

        p {
          color: #333333;
          font-size: 12px;
          line-height: 14px;

          & + p {
            font-family: 'Futura PT', sans-serif;
            font-weight: 500;
            font-size: 20px;

            @media (width<=744px) {
              font-size: 18px;
            }
          }
        }

        &-text {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }

        &-mob {
          @media (width<=744px) {
            width: 95px;
          }
        }
      }
    }

    &-button {
      background-color: $primary-color;
      font-family: 'Wix Madefor Text', sans-serif;
      font-size: 14px;
      font-weight: $font-weight-bold;
      line-height: 16px;
      border: none;
      padding: 12px 17px;
      height: 40px;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;

      @media (width<=744px) {
        width: 100%;
      }
    }
  }
}

.card__body {
  position: relative;
  overflow: hidden;
  transition: height 0.5s ease;
  height: 8em;

  &--expanded {
    height: auto;
    margin-bottom: 20px;

    .card__body-fade {
      display: none;
    }
  }

  &-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 24px;
  }

  &-arrow {
    position: absolute;
    top: -17px;
    right: 0;
    left: 0;
    margin: 0 auto;
    cursor: pointer;
    z-index: 1;
  }

  &-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3em;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 16.67%,
      #ffffff 100%
    );
    pointer-events: none;
    transition: opacity 0.5s ease;
    opacity: 1;

    &--expanded {
      opacity: 0;
    }
  }
}

.rotate {
  transform: rotate(180deg);
}

.show-mob {
  display: none;

  @media (width<=744px) {
    display: block;
  }
}

.mob-flex {
  display: none;

  @media (width<=744px) {
    display: flex;
  }
}

.hide-mob {
  @media (width<=744px) {
    display: none;
  }
}
